/* some style */

.table { display: inline-table;
         width: 100%;
       }

.trow { display: table-row;
         clear: both;
}

.theading, .tcell { display: table-cell;
            background-color: #ddd;
            clear: both;
 }

/* .rTableBody { display: table-row-group; } */
/* .rTableFoot { display: table-footer-group; } */
/* .rTableCell, .rTableHead { display: table-cell; } */
